@page
@model RecruitCatBatraha.Pages.Companies.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Company Details</h1>

<div>
    <h4>Company</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company.name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company.positionName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.positionName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company.minimumSalary)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.minimumSalary)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company.maximumSalary)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.maximumSalary)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company.startDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.startDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company.location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.location)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company.isFortune500)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.isFortune500)
        </dd>
    </dl>

    @if (Model.Company.Candidates.Any())
    {
        <div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Company.Candidates[0].firstName)</th>
                        <th>@Html.DisplayNameFor(model => model.Company.Candidates[0].lastName)</th>
                        <th>@Html.DisplayNameFor(model => model.Company.Candidates[0].targetSalary)</th>
                        <th>@Html.DisplayNameFor(model => model.Company.Candidates[0].startDate)</th>
                        <th>@Html.DisplayNameFor(model => model.Company.Candidates[0].experience)</th>
                        <th>@Html.DisplayNameFor(model => model.Company.Candidates[0].skills)</th>



                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Company.Candidates)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.firstName)</td>
                            <td>@Html.DisplayFor(modelItem => item.lastName)</td>
                            <td>@Html.DisplayFor(modelItem => item.targetSalary)</td>
                            <td>@Html.DisplayFor(modelItem => item.startDate)</td>
                            <td>@Html.DisplayFor(modelItem => item.experience)</td>
                            <td>@Html.DisplayFor(modelItem => item.skills)</td>
                        </tr>
                    }
                    @* <tr>
                <th></th>
                <th>Total</th>
                <th>@Model.Company.Candidates.Sum(x => x.CurrentBalance).ToString("C2")</th>
                <th></th>
                </tr>*@
                </tbody>
            </table>
        </div>
    }
    else
    {
        <div class="alert alert-warning">No candidates exist</div>
    }
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Company?.CompanyId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
